.calculator-grid {
    background: #eee;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-columns: repeat(4, 100px); */

    grid-template-columns: 200px 250px;

    /* grid-template-rows: 200px 150px;  */
    grid-auto-rows: (100px, auto);

    /* old name grid-gap: 10px; */
    gap: 10px;
    /* old name grid-column-gap: 5px; */
    column-gap: 5px;

    /* padding: 1em; */
}

.calculator-grid > div {
    border-radius: 5px;
    
}

.calculator-item {
    background: purple;
}

.button-1 {
    background: rgb(5, 65, 121);
    grid-column: 1 / -1;
    /* other way to do the grid-column
    grid-column-start: 1;
    grid-column-end: -1; */
}

.button-2 {
    background: rgb(13, 92, 19);
}