* {
    max-width: 200vh;
    max-height: 200vh;
    color: yellow;
}

.calculator-grid {
    min-width: 400px;
    min-height: 350px;

    background: rgb(50, 3, 88); /* I like this purple color rgb(50, 3, 88); */
    color: rgb(92, 182, 205);

    column-gap: 5px;

    display: grid;

    grid-template-columns: 32px 32px 32px 32px auto 150px;

    grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh 5vh;

    gap: 1px;

    padding: 1em;

    justify-content: stretch;
    
    align-content: stretch;
    height: 60vh;
    width: 60vh;

    align-items: stretch;
}

.calculator-grid > div {
    border-radius: 5px;
    text-align: center;
    text-orientation: upright;
    color: skyblue;
}

.calculator-item {
    background: rgb(134, 125, 134);
    padding: 2px;
}

div.field-entry-result {
    background: rgb(94, 9, 151);

    grid-column-start: 1;
    grid-column-end: 5; 

    color: greenyellow;
    
    margin: 0;
    position: relative;
    top: 50%;          
    -ms-transform: translateY(-50%);
    transform: translate(0, -50%)

}

.field-calculator-history {
    color: chartreuse;

    white-space: pre-line;

    grid-column-start: 5;
    grid-column-end: 7; 
    grid-row-start: 1;
    grid-row-end: 5; 

    height: 45vh;

    overflow:scroll; 
    border: thin rgb(216, 107, 5) solid; 
    padding: 5px;
}

.button-0 {
    grid-column-start: 1;
    grid-column-end: 3; 
}

.button-plus-minus {
    min-width: 28px;
    grid-auto-columns: auto;
}

.button-clear-reset {
    background: rgb(216, 107, 5);
}

.calculator-operator {
    background: rgb(216, 107, 5);
}

.footer {
    grid-column-start: 1;
    grid-column-end: -1; 
    color: red;
}